<% content_for :page_title do %>
    <%= Spree.t(:order_info_items) %>
<% end %>

<% content_for :page_actions do %>
    <%= button_link_to Spree.t(:new_order_info_item), new_object_url, { :class => "btn-success", :icon => 'add', 'data-update' => 'new_order_info_item', :id => 'new_order_info_item_link' } %>
<% end %>

<% if @order_info_items.any? %>
    <table class="table" id='order_info_items' data-hook>
      <thead>
      <tr data-hook="order_info_items_header">
        <th class="name"><%= Spree.t(:name) %></th>
        <th class="description"><%= Spree.t(:description) %></th>
        <th class="actions"></th>
      </tr>
      </thead>
      <tbody>
      <% @order_info_items.each do |order_info_item| %>
          <tr id="<%= spree_dom_id order_info_item %>" data-hook="order_info_items_row">
            <td><%= order_info_item.name %></td>
            <td><%= order_info_item.description %></td>
            <td class="actions actions-2 text-right">
              <%= link_to_edit(order_info_item, :no_text => true) %>
              <%= link_to_delete(order_info_item, :no_text => true) %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% else %>
    <div class="alert alert-info no-objects-found">
      <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::OrderInfoItem)) %>,
      <%= link_to Spree.t(:add_one), new_object_url %>!
    </div>
<% end %>
